h1{font-family: 'Dancing Script', cursive;
font-size: 39px;}
p{ font-family: 'Dancing Script', cursive;
    font-family: 'Shadows Into Light', cursive;
font-weight: 700;}
img{
     width: 500px;height: 500px;
     
}
.first-section{
    display: flex
    ;
}
p{ }
.first-div{
     width: 40%;
     margin: 4px;
     padding-left: 120px;
     padding-right: 1px;
     box-shadow: 10px 10px 20px rgb(110, 109, 110);
     border-radius: 20px;
     padding-top: 40px;
     background-color: rgb(219, 233, 221);
     
}
.first-section{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
     padding-top: 50px;
}
a{
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 15px;
}
button{
    border-radius: 5px;
    height: 30px;color: white;

     background-image: linear-gradient(rgb(21, 255, 21),purple);
}
button:hover{
     background-origin: border-box;
     background-image: linear-gradient(yellow,red);
}
.mahee{
    width: 40%;
    padding-left: 50px;}

     
.line{
     border-left: 10px transparent solid;border-right: 10px transparent solid;
     border-image: linear-gradient(rgb(5, 5, 197),rgb(250, 169, 19));
     margin-top: 100px;
     border-image-slice: 2;
     border-radius: 5px;
     border-radius: 20px;
     box-shadow: steelblue 10px -10px  20px ;
     box-sizing: border-box;
     width: 95%;
}
.mmm{
    width: 40%;
    border-left: transparent 10px solid ;
    border-image:linear-gradient( green,red);
    border-image-slice: 4;
    margin-left: 5%;
    box-shadow: cadetblue 10px 10px 20px;
}
.mah{border-left: black 10px solid ;
    
border-image:linear-gradient( yellow,black);
border-image-slice: 4;
width: 40%;
padding-left: 5%;
 box-shadow: cadetblue 10px 10px 20px;}
.ddd{
     background-image: none;
}
h2{
 color: rgba(34, 112, 201, 0.945);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
width: 50%;
    border: 10px solid;
    margin: 2px auto
}
.mah:hover{
     background-color: cadetblue;
}
.mt:hover{
     background-color: darkolivegreen;
}
h1:hover{ 
    color: rgb(235, 18, 18);
}
footer:hover{
     background-color: rgb(66, 66, 66);
     color: white;
}
.color:hover{
     background-color: gold;
}
.jjj:hover{
     background-color: greenyellow;
}
.jaja:hover{
     background-color: rgb(153, 107, 95);
}
h2:hover{
     background-color: lawngreen;
     color: black;
}